@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

@layer bsp {
  :root {
    --bsp-background-gradient: linear-gradient(90deg, rgba(116,68,147,1) 30%, rgba(79,226,224,1) 100%);
    --bsp-bgcolor: #744493;
    --bsp-fgcolor: #4fe2e0;
    --bsp-hlcolor: #eee8aa;
    --bsp-logo-fill-color: rgba(79,226,224,1);
    --bsp-track-label-font: 'Bowlby One SC', sans-serif;
    --bsp-image-colorization-filters: invert(0%) sepia(66%) saturate(2129%) hue-rotate(140deg) brightness(93%) contrast(90%);
    /* Colorization filters generator: https://codepen.io/sosuke/pen/Pjoqqp*/
  }
}

#bsp-inner {
  --bsp-button-width: calc(100cqi / 10);
  --bsp-label-font-size: calc(100cqi / 40);
  background: var(--bsp-background-gradient);
  position: relative;
  overflow: hidden;
}

#bsp-inner > img {
  filter: var(--bsp-image-colorization-filters);
  width: 40cqi;
  position: absolute;
  right: 0;
  top: -60px;
}

bradsucks-player-core {
  container-type: inline-size;
  padding: max(1em, 20px);
  display: flex;
  
  &.bsp-playing .player-button-pause {
    display: inline;
  }
  
  &.bsp-playing .player-button-play {
    display: none;
  }
  
  & bradsucks-logo {
    fill: var(--bsp-logo-fill-color);
    display: block;
    width: 22%;
    flex-shrink: 0;
  }
  
  & .player-button-play {
    --sa-play-icon: var(--bsp-hlcolor);;
    --sa-play-circle: var(--bsp-fgcolor);
    --sa-play-outline: var(--bsp-bgcolor);
  }
  
  & .player-button-pause {
    --sa-pause-icon: var(--bsp-hlcolor);;
    --sa-pause-circle: var(--bsp-fgcolor);
    --sa-pause-outline: var(--bsp-bgcolor);
    display: none;
  }
  
  & .player-button-skip {
    --sa-skip-icon: var(--bsp-hlcolor);;
    --sa-skip-circle: var(--bsp-fgcolor);
    --sa-skip-outline: var(--bsp-bgcolor);
  }
}

bradsucks-player-core  {
  & .bsp-controls {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    
    & > div {
      display: flex;
      align-items: center;
    }
  }
  
  & button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    inline-size: var(--bsp-button-width);
    padding: 0;
    flex-shrink: 0;
  }
  
  & button:hover {
    filter:brightness(1.2);
  }
  
  & .track-label {
    color: var(--bsp-hlcolor);;
    font-family: var(--bsp-track-label-font);
    font-size: var(--bsp-label-font-size);
    line-height: normal;
    margin-left: 1em;
    max-width: 40%;
  }
}

bradsucks-player-core .progress {
  container-type: inline-size;
  grid-column: 2;
  grid-row: 2;
  border-radius: 4px;
  border: 1px solid var(--bsp-fgcolor);
  height: 5px;
  margin-top: 10px;
  overflow: hidden;
  max-width: 400px;
  
  & > div {
    background-color: var(--bsp-fgcolor);
    height: 5px;
    width: 0px;
  }
}

#bsp-container {
  position: relative;
}

/* match to Squarespace mobile breakpoint */
@media (width < 640px) {
  
  @layer bsp {
    :root {
      --bsp-image-colorization-filters: invert(33%) sepia(14%) saturate(2310%) hue-rotate(233deg) brightness(92%) contrast(89%);
    }
  }
  
  bradsucks-player-core {
    
    flex-direction: column;
    
    & bradsucks-logo {
      width: 100%;
    }
    
    & .bsp-controls {
      padding: 1em 0;
    }
    
    & .track-label {
      max-width: initial;
    }
    
    & .progress {
      max-width: initial;
    }
  }
  
  #bsp-inner {
    background: var(--bsp-bgcolor);
    --bsp-button-width: calc(100cqi / 5);
    --bsp-label-font-size: calc(100cqi / 16);
  }
  
  #bsp-inner > img {
    width: 100%;
    position: absolute;
    right: initial;
    top: initial;
  }
}

section:has(bradsucks-player-core) {
  padding: 0 !important;
}
