/* -- original CSS overrides -- */

/* newsletter padding */
.newsletter-form-footnote {
  display: none;
}
div#block-yui_3_17_2_1_1641498071156_8910 {
  padding-top: 0px !important;
}

div#Index-page-content { padding-top: 0px !important; }

/* -- end original CSS overrides -- */
