/* -- original CSS overrides -- */

/* newsletter padding */
.newsletter-form-footnote {
  display: none;
}
div#block-yui_3_17_2_1_1641498071156_8910 {
  padding-top: 0px !important;
}

div#Index-page-content { padding-top: 0px !important; }

/* -- end original CSS overrides -- */

/* fix top margin on homepage news section */
#latest-news {
  margin-top: 2em;
}

/* make nav sticky */
header {
  position: sticky;
  top: 0;
  z-index: 3000;
}

/* newsletter subscribe box */

#subscribe {
  background-color: #40547b;
  color: #fff;
  padding: 1em;
  font-size: clamp(1em, 150%, 1.2em);
  background-image: url(https://images.squarespace-cdn.com/content/5bf9a31c96d4550b42f456f2/22fb3d65-1f65-4db8-b8cc-29d8686c8304/bs-live-dw-halftone-med-crop-40547b.jpg?content-type=image%2Fjpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#subscribe > div,
#subscribe div.newsletter-form-body {
  padding: 0 !important;
}

#subscribe h1 {
  color: white;
}

#subscribe input,
#subscribe button {
  font-size: inherit;
  border-radius: 2em;
}

#subscribe button {
  background-color: #fb654f;
  color: white;
  font-weight: bold;
  border: none !important;
  box-shadow: none !important;
}

#subscribe input::placeholder {
  color: black;
}

/* end newsletter subscribe box */

/* start blog overrides */

.BlogList {
  max-inline-size: 100ch;
}

.summary-excerpt p {
   display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

/* end blog overrides */

/* Latest (linktree) page, requires JS added to page. NOTE: these color styles are filter:invert()-ed. */

body.bs-linktree main {
  background: #0e769a;
  background-image: url(https://images.squarespace-cdn.com/content/5bf9a31c96d4550b42f456f2/22fb3d65-1f65-4db8-b8cc-29d8686c8304/bs-live-dw-halftone-med-crop-40547b.jpg?content-type=image%2Fjpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

body.bs-linktree {
  & .sqs-block-content,
  & .newsletter-block * {
    color: white !important;
  }
  
  & nav svg {
    filter: invert() brightness(2);
  }
  
  & .sqs-block-button-element--medium.sqs-button-element--primary.sqs-block-button-element {
    color: #fff;
    border-radius: 20px !important;
    width: 70vw;
    background-color: #fb654f;
    border: 0;
  }
  
  & .newsletter-form-button.sqs-system-button.sqs-editable-button-layout.sqs-editable-button-style.sqs-editable-button-shape.sqs-button-element--primary {
  background: #fb654f;
    box-shadow: none;
	border: 1px solid white !important;
}
  & .newsletter-block .newsletter-form-field-element {
    background-color: black;
    border: 1px solid white;
  }
  & .newsletter-block .newsletter-form-field-element::placeholder {
    color: white;
  }
}